@media(min-width:576px){
    .logo-img{
        width: 180px;
    }
    .title-big{
        font-size: 64px;
    }

    .btn_big{
        font-size: 24px;
    }
}

@media(min-width:768px){

}

@media(min-width:992px){

}

@media(min-width:1200px){
    
}